<a href="https://colab.research.google.com/github/svafaeva93/deep-learning-challenge/blob/main/AlphabetSoup_Optimization3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [30]:
# Import our dependencies
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import ModelCheckpoint
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [31]:
# Drop the non-beneficial ID columns, 'EIN'.

application_df = application_df.drop(['EIN'], axis =1)

In [35]:
# Look at NAMES value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [36]:
# Choose a cutoff value and create a list of NAMES to be replaced
# use the variable name `names_to_replace`
names_to_replace = list(name_counts[name_counts<10].index)

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [37]:
# Determine the number of unique values in each column.
unique_values_count = application_df.nunique()
print(unique_values_count)

NAME                       223
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [38]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df["APPLICATION_TYPE"].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [39]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = list(application_type_counts[application_type_counts < 1000].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [40]:
# Look at CLASSIFICATION value counts for binning
classification_type_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_type_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [41]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt_1 = classification_type_counts[classification_type_counts > 1]
print(classification_counts_gt_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [42]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (classification_type_counts[classification_type_counts<1000].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [43]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_df = pd.get_dummies(application_df)
numeric_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [44]:
# Split our preprocessed data into our features and target arrays
y = numeric_df["IS_SUCCESSFUL"].values.reshape(-1,1)
X = numeric_df.drop(["IS_SUCCESSFUL"],1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)

<ipython-input-44-91e3c833d42b>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = numeric_df.drop(["IS_SUCCESSFUL"],1)

In [45]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [46]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len(X_train.values[0])

hidden_nodes_layer1 = 40
hidden_nodes_layer2 = 80
hidden_nodes_layer3 = 40
hidden_nodes_layer4 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="softmax"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 40)                10560

 dense_6 (Dense)             (None, 80)                3280

 dense_7 (Dense)             (None, 40)                3240

 dense_8 (Dense)             (None, 5)                 205

 dense_9 (Dense)             (None, 1)                 6

=================================================================
Total params: 17,291
Trainable params: 17,291
Non-trainable params: 0
_________________________________________________________________

In [47]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [48]:
# Create directory if it does not exist
if not os.path.exists('/Users/shakhnoza/Documents/GitHub/deep-learning-challenge/models/model_4'):
    os.makedirs('/Users/shakhnoza/Documents/GitHub/deep-learning-challenge/models/model_4')

# Define the checkpoint path
checkpoint_path = "/Users/shakhnoza/Documents/GitHub/deep-learning-challenge/models/model_4/weights.{epoch:02d}.hdf5"

# Create the checkpoint callback
checkpoint_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period = 5
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [49]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5365 - accuracy: 0.7642
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4912 - accuracy: 0.7825
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4741 - accuracy: 0.7834
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4639 - accuracy: 0.7842
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4589 - accuracy: 0.7853
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4537 - accuracy: 0.7888
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4501 - accuracy: 0.7874
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4479 - accuracy: 0.7872
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4455 - accuracy: 0.7886
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4438 - accuracy: 0.7900
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4425 - accuracy: 0.7893
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4411 - accuracy: 0.7898
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4402 - accuracy: 0.7916
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4395 - accuracy: 0.7898
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4385 - accuracy: 0.7909
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4373 - accuracy: 0.7918
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4368 - accuracy: 0.7912
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4362 - accuracy: 0.7921
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4355 - accuracy: 0.7908
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4350 - accuracy: 0.7933
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4342 - accuracy: 0.7928
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4342 - accuracy: 0.7926
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4334 - accuracy: 0.7917
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4322 - accuracy: 0.7936
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4327 - accuracy: 0.7923
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4324 - accuracy: 0.7930
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4320 - accuracy: 0.7927
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4321 - accuracy: 0.7933
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4307 - accuracy: 0.7935
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4302 - accuracy: 0.7927
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4298 - accuracy: 0.7931
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4294 - accuracy: 0.7935
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4295 - accuracy: 0.7935
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4293 - accuracy: 0.7932
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4290 - accuracy: 0.7942
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4281 - accuracy: 0.7947
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4275 - accuracy: 0.7935
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4270 - accuracy: 0.7960
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4269 - accuracy: 0.7944
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4266 - accuracy: 0.7946
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4255 - accuracy: 0.7960
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4264 - accuracy: 0.7961
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4259 - accuracy: 0.7946
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4251 - accuracy: 0.7970
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4251 - accuracy: 0.7953
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4248 - accuracy: 0.7951
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4250 - accuracy: 0.7966
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4245 - accuracy: 0.7968
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4244 - accuracy: 0.7963
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4239 - accuracy: 0.7973
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4240 - accuracy: 0.7952
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4238 - accuracy: 0.7958
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4235 - accuracy: 0.7949
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4232 - accuracy: 0.7966
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4231 - accuracy: 0.7958
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4228 - accuracy: 0.7959
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4230 - accuracy: 0.7959
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4215 - accuracy: 0.7954
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4217 - accuracy: 0.7966
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4219 - accuracy: 0.7970
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4219 - accuracy: 0.7961
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4218 - accuracy: 0.7953
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4215 - accuracy: 0.7961
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4215 - accuracy: 0.7964
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4210 - accuracy: 0.7973
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4209 - accuracy: 0.7976
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4215 - accuracy: 0.7961
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4201 - accuracy: 0.7974
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4197 - accuracy: 0.7984
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4204 - accuracy: 0.7966
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4204 - accuracy: 0.7982
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4203 - accuracy: 0.7986
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4204 - accuracy: 0.7985
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4202 - accuracy: 0.7965
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4191 - accuracy: 0.7986
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4193 - accuracy: 0.7973
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4196 - accuracy: 0.7980
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4190 - accuracy: 0.7976
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4196 - accuracy: 0.7979
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4196 - accuracy: 0.7975
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.7969
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4181 - accuracy: 0.7985
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4184 - accuracy: 0.7984
Epoch 84/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4185 - accuracy: 0.7993
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4181 - accuracy: 0.7992
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4183 - accuracy: 0.7981
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4190 - accuracy: 0.7976
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4183 - accuracy: 0.7974
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4177 - accuracy: 0.8000
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4179 - accuracy: 0.7985
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4177 - accuracy: 0.7995
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4180 - accuracy: 0.7999
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4175 - accuracy: 0.7982
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4177 - accuracy: 0.7990
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4177 - accuracy: 0.7983
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4169 - accuracy: 0.7996
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4176 - accuracy: 0.7993
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4170 - accuracy: 0.7996
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7983
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4170 - accuracy: 0.7994

In [50]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4666 - accuracy: 0.7812 - 466ms/epoch - 2ms/step
Loss: 0.4665611982345581, Accuracy: 0.7812244892120361

In [51]:
# Export our model to HDF5 file
nn.save("/Users/shakhnoza/Documents/GitHub/deep-learning-challenge/models/model_4/AlphabetSoupCharity_Optimization3.h5")