<a href="https://colab.research.google.com/github/svafaeva93/deep-learning-challenge/blob/main/AlphabetSoup_Optimization2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import ModelCheckpoint
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_values_count = application_df.nunique()
print(unique_values_count)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df["APPLICATION_TYPE"].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# Create a list of application types to be replaced
application_types_to_replace = list(application_type_counts[application_type_counts < 1500].index)

# Replace in dataframe
for app in application_types_to_replace:
   application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     5720
T4        1542
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_type_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_type_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt_1 = classification_type_counts[classification_type_counts > 1]
print(classification_counts_gt_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (classification_type_counts[classification_type_counts<800].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_df = pd.get_dummies(application_df)
numeric_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = numeric_df["IS_SUCCESSFUL"].values.reshape(-1,1)
X = numeric_df.drop(["IS_SUCCESSFUL"],1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)

<ipython-input-10-91e3c833d42b>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = numeric_df.drop(["IS_SUCCESSFUL"],1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len(X_train.values[0])

hidden_nodes_layer1 = 20
hidden_nodes_layer2 = 27
hidden_nodes_layer3 = 3

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                760

 dense_1 (Dense)             (None, 27)                567

 dense_2 (Dense)             (None, 3)                 84

 dense_3 (Dense)             (None, 1)                 4

=================================================================
Total params: 1,415
Trainable params: 1,415
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Create directory if it does not exist
if not os.path.exists('/Users/shakhnoza/Documents/GitHub/deep-learning-challenge/models/model_3'):
    os.makedirs('/Users/shakhnoza/Documents/GitHub/deep-learning-challenge/models/model_3')

# Define the checkpoint path
checkpoint_path = "/Users/shakhnoza/Documents/GitHub/deep-learning-challenge/models/model_3/weights.{epoch:02d}.hdf5"

# Create the checkpoint callback
checkpoint_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period = 5
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [15]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6040 - accuracy: 0.6936
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5729 - accuracy: 0.7211
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5680 - accuracy: 0.7230
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5659 - accuracy: 0.7243
Epoch 5/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5645 - accuracy: 0.7240
Epoch 6/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5638 - accuracy: 0.7243
Epoch 7/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5631 - accuracy: 0.7253
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5622 - accuracy: 0.7251
Epoch 9/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5622 - accuracy: 0.7247
Epoch 10/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5614 - accuracy: 0.7259
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5612 - accuracy: 0.7263
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5611 - accuracy: 0.7233
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5605 - accuracy: 0.7252
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5606 - accuracy: 0.7252
Epoch 15/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5600 - accuracy: 0.7259
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5601 - accuracy: 0.7264
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5595 - accuracy: 0.7257
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5595 - accuracy: 0.7252
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5592 - accuracy: 0.7254
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5592 - accuracy: 0.7255
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5591 - accuracy: 0.7264
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5590 - accuracy: 0.7268
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5582 - accuracy: 0.7272
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5588 - accuracy: 0.7277
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5582 - accuracy: 0.7262
Epoch 26/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5581 - accuracy: 0.7258
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5578 - accuracy: 0.7267
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5584 - accuracy: 0.7261
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5579 - accuracy: 0.7278
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5579 - accuracy: 0.7267
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5577 - accuracy: 0.7272
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5584 - accuracy: 0.7278
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7272
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5568 - accuracy: 0.7279
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5566 - accuracy: 0.7280
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7275
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5568 - accuracy: 0.7262
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7273
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5567 - accuracy: 0.7275
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5568 - accuracy: 0.7280
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7276
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7268
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5565 - accuracy: 0.7285
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7269
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5560 - accuracy: 0.7274
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5559 - accuracy: 0.7263
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5559 - accuracy: 0.7273
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7276
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7273
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7287
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7278
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5552 - accuracy: 0.7275
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5553 - accuracy: 0.7292
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7297
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7280
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7285
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7289
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7283
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5544 - accuracy: 0.7290
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5549 - accuracy: 0.7286
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5548 - accuracy: 0.7274
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5547 - accuracy: 0.7282
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7287
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7294
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7276
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5545 - accuracy: 0.7286
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7290
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7296
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7292
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7292
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7295
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5544 - accuracy: 0.7273
Epoch 73/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5537 - accuracy: 0.7303
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7301
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7296
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7289
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7292
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7297
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5535 - accuracy: 0.7306
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5532 - accuracy: 0.7300
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7304
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7302
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7296
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7289
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7299
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5531 - accuracy: 0.7300
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5529 - accuracy: 0.7304
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7294
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7301
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7302
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7307
Epoch 92/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5525 - accuracy: 0.7303
Epoch 93/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5527 - accuracy: 0.7295
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5523 - accuracy: 0.7294
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7304
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5524 - accuracy: 0.7306
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7308
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7310
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5524 - accuracy: 0.7303
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5522 - accuracy: 0.7305

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5729 - accuracy: 0.7247 - 527ms/epoch - 2ms/step
Loss: 0.5729067921638489, Accuracy: 0.7246647477149963

In [17]:
# Export our model to HDF5 file
nn.save('/Users/shakhnoza/Documents/GitHub/deep-learning-challenge/models/model_3/AlphabetSoupCharity_Optimization2.h5')